<form [formGroup]="myForm" (ngSubmit)="onFormSubmit()">

  Amount:
  <p-inputNumber formControlName="amount" placeholder="Enter Amount"></p-inputNumber>
  Date:
  <p-calendar formControlName="date" placeholder="Select Date"></p-calendar>
  Status:
  <p-dropdown formControlName="status" [options]="statusList" optionLabel="name"></p-dropdown>
  Source:
  <textarea pInputTextarea formControlName="source" placeholder="Enter Source of fund"></textarea>

  <button pButton label="Goto Table" type="submit" [disabled]="myForm.invalid"></button>

</form>

